@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-text($size-mobile, $size-desktop) {
  font-size: $size-mobile;
  @media (min-width: $bp-desktop) {
    font-size: $size-desktop;
  }
}
