// Colores principales
$color-primario: #ff4da6;   //rosa
$color-secundario: #6a5acd; //violeta
$color-terciario: #fe00cb;  
$color-fondo: #fdfdfd;
$color-texto: #333;

// Tipografía
$fuente-principal: 'Libertinus Serif', serif;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;
